<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.usoft.suntg.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.usoft.suntg.entity.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
    </resultMap>

    <resultMap id="QueryEnterprisesResultMap" type="com.usoft.suntg.entity.User" extends="BaseResultMap">
        <collection property="enterprises" javaType="ArrayList" ofType="com.usoft.suntg.entity.Enterprise" >
            <id column="en_id" jdbcType="INTEGER" property="id" />
            <result column="en_name" jdbcType="VARCHAR" property="name" />
            <result column="en_address" jdbcType="VARCHAR" property="address" />
        </collection>
    </resultMap>

    <sql id="Base_sql_list">
        id, name, tel, email, password, salt
    </sql>

    <insert id="insert" parameterType="com.usoft.suntg.entity.User">
      <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
        select last_insert_id()
      </selectKey>
      insert into t_user (
        name, tel, email, password, salt
      ) values (
        #{name, jdbcType=VARCHAR}, #{tel, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR},
        #{password, jdbcType=VARCHAR}, #{salt, jdbcType=VARCHAR}
      )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.usoft.suntg.entity.User">
        update t_user set
        name = #{name, jdbcType=VARCHAR}, tel = #{tel, jdbcType=VARCHAR}, email = #{email, jdbcType=VARCHAR},
        password = #{password, jdbcType=VARCHAR}, salt = #{salt, jdbcType=VARCHAR}
        where id = #{id, jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_sql_list"/>
        from
        t_user
        where id = #{id, jdbcType=INTEGER}
    </select>

    <select id="selectPageInfo" resultMap="BaseResultMap">
        select
            <include refid="Base_sql_list"/>
        FROM t_user
        order by id desc LIMIT #{startNumber, jdbcType=INTEGER}, #{pageSize, jdbcType=INTEGER}
    </select>
    <select id="getCount" resultType="java.lang.Integer">
        select count(1) from t_user
    </select>

    <select id="selectEithEnterprisesByPrimaryKey" resultType="com.usoft.suntg.entity.User" resultMap="QueryEnterprisesResultMap">
      select u.id, u.name, u.tel, u.email, u.password, u.salt, e.id as en_id, e.name as en_name, e.address as en_address from
          t_user u, t_user_enterprise ue, t_enterprise e
        where u.id = ue.user_id and ue.enterprise_id = e.id and u.id = #{id, jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_user where id = #{id, jdbcType=INTEGER}
    </delete>

    <delete id="delete" parameterType="com.usoft.suntg.entity.User">
        delete from t_user where id = #{id, jdbcType=INTEGER}
    </delete>

</mapper>